@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UIBootstrapTypeAhead</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body>
    @*<div ng-app="myModule">
        <div class='container-fluid' ng-controller="TypeaheadCtrl">
            <pre>Model: {{selected| json}}</pre>
            <input type="text" ng-model="selected" typeahead="state for state in states | filter:$viewValue">
        </div>
    </div>*@

    <div ng-app="strapover">
        <div ng-controller="MainCtrl">
            <button type="button" class="btn btn-large btn-primary" data-placement="top" data-title="Title One" bs-popover="'popover.html'">Click to toggle popover<br />
                <small>(won't close others)</small></button>
        </div>
    </div>
    <script src="~/Scripts/jquery-1.9.1.js"></script>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/ui-bootstrap-tpls-0.3.0.js"></script>
    <script src="~/Scripts/angular-strap.js"></script>
    <script>
        //angular.module('myModule', ['ui.bootstrap']);
        //function TypeaheadCtrl($scope) {

        //    $scope.selected = undefined;
        //    $scope.states = ['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado', 'Connecticut', 'Delaware', 'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire', 'New Jersey', 'New Mexico', 'New York', 'North Dakota', 'North Carolina', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania', 'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington', 'West Virginia', 'Wisconsin', 'Wyoming'];
        //}


        var app = angular.module('strapover', ['$strap.directives']);

        app.controller('MainCtrl', function ($scope, $window, $location) {

            // Popover
            $scope.popover = { content: "Hello Popover<br />This is a multiline message!", saved: false };

        });
    </script>
</body>
</html>
