@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UIBootstrapTypeAhead</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div ng-app="myModule">
        <div class='container-fluid' ng-controller="TypeaheadCtrl">
            <pre>Model: {{selected| json}}</pre>
            <input type="text" ng-model="selectedsup" Typeahead="state for state in states | filter:$viewValue">
        </div>
    </div>

    @*<div ng-app="strapover">
        <div ng-controller="MainCtrl">
            <button type="button" class="btn btn-large btn-primary" data-placement="top" data-title="Title One" bs-popover="'popover.html'">Click to toggle popover<br />
                <small>(won't close others)</small></button>
        </div>
    </div>*@
    <script src="~/Scripts/jquery-1.9.1.js"></script>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/ui-bootstrap-tpls-0.3.0.js"></script>
    <script src="~/Scripts/lk/directives/angular-lk-search.js"></script>
    <script src="~/Scripts/lk/Controller/uiTypeAheadCtrl.js"></script>
    <script>

        //var app = angular.module('strapover', ['$strap.directives']);

        //app.controller('MainCtrl', function ($scope, $window, $location) {

        //    // Popover
        //    $scope.popover = { content: "Hello Popover<br />This is a multiline message!", saved: false };

        //});
    </script>
</body>
</html>
