@{
    ViewBag.Title = "Run";
}

<h2>Angular scenario Runner</h2>

<script src="~/Scripts/angular-scenario.js" ng-autotest></script>

  <!-- include spec files here... -->
<script src="~/Scripts/lk/test/e2e/test-e2e-angular-lk.js"></script>
