@{
    ViewBag.Title = "Directive";
}
<style>
    .zippy {
        border: 1px solid black;
        display: inline-block;
        width: 250px;
    }

        .zippy.opened > .title:before {
            content: '▼ ';
        }

        .zippy.opened > .body {
            display: block;
        }

        .zippy.closed > .title:before {
            content: '► ';
        }

        .zippy.closed > .body {
            display: none;
        }

        .zippy > .title {
            background-color: black;
            color: white;
            padding: .1em .3em;
            cursor: pointer;
        }

        .zippy > .body {
            padding: .1em .3em;
        }
</style>
<h2>Directive</h2>
<div ng-app="zippyModule">
    <div ng-controller="Ctrl3">
        Title:
        <input ng-model="title">
        <br>
        Text:
        <textarea ng-model="text"></textarea>
        <hr>
        <div class="zippy" zippy-title="Details: {{title}}...">{{text}}</div>
    </div>
</div>
<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/lk/directives/angular-lk.js"></script>
