@{
    ViewBag.Title = "Search box";
}

<h2>Search box</h2>
<p>search box made by angular</p>

@section scripts{
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-ui.js"></script>
    <script src="~/Scripts/lk/Controller/SearchUICtrl.js"></script>
}
<h3>To DO</h3>
<ul>
    <li>ทำให้ highlight ใน match</li>
    <li>ทำเป็น dicrective</li>
    <li>ทำให้ config ได้ตามสมควร</li>
    <li>ใส่ Css</li>
</ul>
<div ng-app="demoApp">
<h2>This is version Controller</h2>
<p>have version  @Html.ActionLink("directive","Dicrective")</p>
    <div ng-controller="SearchUICtrl">
        <table>
            <tr>
                <td>
                    <div>
                        Search:<input ng-model="query" ng-change="doquery()" ui-event="{ blur : 'blurCallback()' }" />
                        <button ng-click="dosearch()">Search</button>
                    </div>
                </td>
                <td>
                    <h4>This Is Token Query</h4>
                    <ul ng-repeat="token in tokens">
                        <li>{{token.name}}</li>
                        <li>
                            <ul>
                                <li ng-repeat="tquery in token.queries">{{tquery}}</li>
                            </ul>
                        </li>
                        <li ng-click="removetoken($index)">x</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>
                    <div ng-show="showdropdown">
                        <h3>This Is Dropdown list</h3>
                        <ul ng-repeat="filter in filters">
                            <li ng-mouseover="filterMouseOver($index)" ng-click="filterClick($index)">[{{$index+1}}]{{filter.name}} : {{query}}</li>
                            <li>
                                <ul>
                                    <li ng-repeat="match in filter.matchs" ng-mouseover="matchMouseOver($parent.$index,$index)" ng-click="matchClick($parent.$index,$index)">[{{$parent.$index+1}}][{{$index+1}}]{{match.Name}} <em>{{match.Description}}</em>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </td>
                <td>
                    <h4>This Is Search result List</h4>
                    <div>
                        <ul>
                            <li ng-repeat="searchresult in searchresults |filter:query">{{searchresult.Code}}
                        <span>{{searchresult.DocDate}}</span>
                                <span>{{searchresult.CreateDate}}</span>
                                <span>{{searchresult.CreateBy}}</span>
                                <span>{{searchresult.master1}}</span>
                                <span>{{searchresult.master2}}</span>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
        </table>

    </div>

</div>
