@{
    ViewBag.Title = "SearchAndMore";
}
<link href="~/Content/style/css/style.css" rel="stylesheet" />

<h2>Search TypeAndMore</h2>
<div ng-app="TypeAndMore">
    <div ng-controller="SearchTypeAndMoreCtrl">
    <input lk-typeandmore ng-model="query" ng-change="doquerymore()" />
    <div id="searchdropdown" ng-show="showdropdown">
        <ul ng-repeat="filter in filters">
            <span ng-class="{active: isActive($index,-1)}" ng-mouseover="selectfilterActive($index)"  ng-click="selectfilter($index)">{{filter.name}} </span>
            <li ng-repeat="match in filter.matchs" ng-class="{active: isActive($parent.$index,$index) }" ng-mouseover="selectmatchActive($parent.$index,$index)" ng-click="selectmatch($parent.$index,$index)">{{match.name}} <em>{{match.Description}}</em></li>
        </ul>
        <p ng-click="doSearchMore()">Search More..</p>
    </div>
    </div>
</div>


@section scripts {
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/lk/directives/angular-lk.js"></script>
    <script src="~/Scripts/lk/Controller/TypeAndMoreCtrl.js"></script>
}