
/******************************************************************
CONTROL
******************************************************************/
 
/*==========  IMPORTING  ==========*/
  
@import "compass";
$baseColor:#067475;
$baseColorDark:#09b3b3;
*{
	margin: 0px;
	padding: 0px;	
}

.searchtoken >ul>li{
	float: left;
	color: white;
	&>ul{
		float: left;
		margin-right: 10px;

		&>li{
			float: left;
			background: $baseColorDark;
			padding: 2px 5px;

				&:first-child{
					background: $baseColor;
				}

				&:last-child{
					background: red;
				}
				li {
					float: left;
					border-left: 1px solid #fff;
					padding-left: 5px;
					padding-right: 5px;
				}
		}
		
	}

}

li{
	list-style-type: none;
} 

#wrap{
	width: 80%;
	margin: 0 auto;
	background: white;
	padding-bottom: 30px;
	position:relative;
}

.searchtoken{
	border:1px #eee solid;
	 @include legacy-pie-clearfix;	
	#token{
		border:0;
	}
}

.result{
	margin-top: 30px;
	width: 600px;
	li {
		padding-bottom: 5px;
		margin-bottom: 5px;
		border-bottom: 1px solid #eee;
	}
}

#buttonsearch{
	float: right;	
}

#searchdropdown{
	border:2px solid $baseColor;

	padding: 10px;
	position: absolute;
	width:400px;
	right:0;
	background: #fff;
	li {
		padding-bottom: 3px;
		&:hover,.active {
			background: #eee;
		}
	}


}